APP_NAME=Laravel
APP_ENV=local
APP_KEY=base64:αν_δεν_υπάρχει_τρέξτε_php_artisan_key_generate
APP_DEBUG=true
APP_URL=http://127.0.0.1:8000

LOG_CHANNEL=stack
LOG_DEPRECATIONS_CHANNEL=null
LOG_STACK=single
LOG_LEVEL=debug


# Για SQLite αφήνουμε τα υπόλοιπα DB_ πεδία κενά ή τα αφαιρούμε τελείως

SESSION_DRIVER=database
SESSION_LIFETIME=120

BOOTSTRAP_PROVIDERS=App\Providers\AppServiceProvider
